# Django
SECRET_KEY=#секретный ключ, используемый для криптографических подписей.
DEBUG=#режим отладки. Включен (True), Выключен (False)

# Postgresql
NAME=#имя вашей базы данных.
USER=#имя пользователя PostgreSQL.
PASSWORD=#пароль пользователя PostgreSQL.
HOST=#адрес сервера базы данных.
PORT=#порт, на котором работает PostgreSQL, обычно 5432
