# Django
SECRET_KEY=#секретный ключ, используемый для криптографических подписей.
DEBUG=#режим отладки. Включен (True), Выключен (False)

# Postgresql
NAME=#имя вашей базы данных.
USER=#имя пользователя PostgreSQL.
PASSWORD=#пароль пользователя PostgreSQL.
HOST=#адрес сервера базы данных.
PORT=#порт, на котором работает PostgreSQL, обычно 5432

#Stripe
STRIPE_API_KEY=#секретный ключ для доступа к платёжной системе "Stripe" https://stripe.com/

# Redis
CELERY_BROKER_URL=#URL указывающий на брокера сообщений
CELERY_RESULT_BACKEND=#URL указывающий на расположение сервера для хранения результатов задач
CELERY_TASK_TRACK_STARTED=#флаг отслеживания выполнения задач. Включен (True), Выключен (False)

# Сервис отправки писем
EMAIL_HOST=#адрес SMTP-сервера
EMAIL_HOST_USER=#адрес вашей электронной почты
EMAIL_HOST_PASSWORD=#пароль, сгенерированный в аккаунте вашей почты для доступа приложения к рассылке писем от вашего имени
EMAIL_PORT=#порт SMTP-сервера
EMAIL_USE_TLS=#включает использование TLS для шифрования соединения. Включен (True), Выключен (False)
EMAIL_USE_SSL=#включает использование SSL для шифрования соединения. Включен (True), Выключен (False)
EMAIL_BACKEND=#бэкенд для отправки писем
